<template>
  <div>
    <h4 class="text-left pt-4 pl-4 mb-0">Procedures</h4>
    <div class="row">
      <div class="col-12 col-md-4 col-lg-3 pt-3 mb-3">
        <procedures></procedures>
      </div>
      <div class="col-12 col-md-8 col-lg-9">
        <info-form></info-form>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import PatientProceduresList from "@/components/PatientProceduresList.vue";
import PatientInfoForm from "@/components/PatientInfoForm.vue";

@Component({
  components: {
    procedures: PatientProceduresList,
    infoForm: PatientInfoForm
  }
})
export default class PatientInfoPage extends Vue {}
</script>