<template>
  <div class="row">
    <div class="col-12 col-md-6 col-xl-4 mb-4" v-for="(item, idx) in patientList" :key="idx">
      <app-patient :client="item"></app-patient>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import AppPatient from "@/components/AppPatient.vue";
import PatientAPiService from "../shared/services/patient.api";
import { Patient } from "../shared/interfaces/Patient";

@Component({
  components: {
    appPatient: AppPatient
  }
})
export default class AppPatientList extends Vue {
  patientList: Patient[] = [];
  async beforeCreate() {
    this.patientList = await PatientAPiService.getAllPatients();
    this.$store.commit("changeList", this.patientList);
  }
}
</script>
