<template>
  <div>
    <custom-nav></custom-nav>
    <router-view></router-view>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import PatientInfoNav from "@/components/PatientInfoNav.vue";

@Component({
  components: {
    customNav: PatientInfoNav
  }
})
export default class PatientDetail extends Vue {}
</script>