<template>
	<div>
		<h4 class="text-left pt-4">Add Procedure</h4>
		<div class="row">
			<div class="col-12 col-md-6">
				<form class="text-left">
					<div class="form-row">
						<div class="col-md-6 mb-3">
							<label for="procedureTitle">Title</label>
							<input type="text" class="form-control" id="procedureTitle" />
						</div>
						<div class="col-md-6 mb-3">
							<label for="procedureDate">Date</label>
							<input type="date" class="form-control" id="procedureDate" />
						</div>
						<div class="col-12 mb-3">
							<label for="procedureProvider">Provider</label>
							<input type="text" class="form-control" id="procedureProvider" />
						</div>
						<div class="col-md-7 mb-3">
							<label for="procedureStatus">Status</label>
							<select class="custom-select" id="procedureStatus">
								<option selected>Complited</option>
								<option>In progress</option>
								<option>Rejected</option>
							</select>
						</div>
						<div class="col-md-7 mb-1">
							<label>
								Bill to insurance
								<input class="pl-4" type="checkbox" />
							</label>
						</div>
						<div class="col-12 mb-3">
							<label for="procedureAmount">Amount</label>
							<input type="text" class="form-control" id="procedureAmount" />
						</div>
						<div class="col-12 mb-3">
							<label for="procedureNote">Note</label>
							<textarea class="form-control" id="procedureNote"></textarea>
						</div>
					</div>
					<button class="btn btn-primary">Add</button>
				</form>
			</div>
		</div>
	</div>
</template>

<script lang="ts">
	import { Component, Vue } from "vue-property-decorator";

	@Component
	export default class ProcedureForm extends Vue {}
</script>
