<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary-light mb-4">
    <router-link class="navbar-brand" to="/">DXE</router-link>
    <ul class="navbar-nav mr-auto">
      <router-link tag="li" class="nav-item" to="/" exact active-class="active">
        <a class="nav-link">Home</a>
      </router-link>
      <router-link tag="li" class="nav-item" to="/patient" active-class="active">
        <a class="nav-link">Patients</a>
      </router-link>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="text"
        placeholder="Patient Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-primary my-2 my-sm-0" @click.prevent>Search</button>
    </form>
  </nav>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class AppHeader extends Vue {
  /* private menu = [
    
  ] */
}
</script>

<style lang="scss">
.bg-primary-light {
  background-color: #e3f4fc;
}
</style>
