<template>
  <div class="card text-left">
    <div class="card-body">
      <h4 class="card-title">{{ client.firstName }} {{ client.secondName }}</h4>
      <p class="card-text">
        Address: {{ client.location.address }}
        <br />
        Zip: {{ client.location.zip }}
      </p>
      <h5 class="card-subtitle">Patient procedure for today</h5>
      <div class="pt-2">
        <router-link tag="button" :to="'patient/'+client['id']" class="btn btn-primary">Revew</router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Patient } from "../shared/interfaces/Patient";

@Component
export default class AppPatient extends Vue {
  @Prop() readonly client!: Patient;
}
</script>
