<template>
  <form class="text-left">
    <div class="row">
      <div class="form-group col-12 col-md-6">
        <label for="patientEmail">Email address</label>
        <input
          type="email"
          class="form-control"
          id="patientEmail"
          aria-describedby="emailHelp"
          v-model="client.email"
        />
        <small class="form-text text-danger">This field must be an email!</small>
      </div>
      <div class="form-group col-12 col-md-6">
        <label for="patientPhone">Phone</label>
        <input type="tel" class="form-control" id="patientPhone" v-model="client.phone" />
      </div>
      <div class="form-group col-12">
        <label for="patientAddress">Address</label>
        <input
          type="text"
          class="form-control"
          id="patientAddress"
          v-model="client.location.address"
        />
      </div>
      <div class="form-group col-12">
        <label for="patientAddress2">Address 2</label>
        <input
          type="text"
          class="form-control"
          id="patientAddress2"
          v-model="client.location.addressAdditional"
        />
      </div>
      <div class="form-group col-12 col-md-6">
        <label for="patientCity">City</label>
        <input type="text" class="form-control" id="patientCity" v-model="client.location.city" />
      </div>
      <div class="form-group col-12 col-md-4">
        <label for="patientState">State</label>
        <select class="custom-select" id="patientState" v-model="client.location.state">
          <option v-for="state in states" :key="state">{{state}}</option>
        </select>
      </div>
      <div class="form-group col-12 col-md-2">
        <label for="patientZip">Zip</label>
        <input type="text" class="form-control" id="patientZip" v-model="client.location.zip" />
      </div>
      <div class="col-12">
        <div class="form-group form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="checkGarantor"
            v-model="client.garantor"
          />
          <label class="form-check-label" for="checkGarantor">
            <small>Garantor</small>
          </label>
        </div>
      </div>
    </div>
    <button class="btn btn-primary">Update</button>
  </form>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Patient } from "../shared/interfaces/Patient";

@Component
export default class PatientInfoForm extends Vue {
  public client!: Patient;
  public states: string[] = [
    "Alabama",
    "Texas",
    "Tennessee",
    "Minnesota",
    "Washington",
    "New York",
    "California"
  ];

  beforeCreate() {
    this.client = this.$store.getters.getOneClient(this.$route.params["id"]);
    console.log(this.client.location);
  }
}
</script>