<template>
  <div class="card">
    <ul class="list-group list-group-flush">
      <li
        class="list-group-item d-flex justify-content-between"
        v-for="(item,ind) of procedures"
        :key="ind"
      >
        <span>{{item.name}}</span>
        <span class="badge badge-pill badge-primary">{{item.amount}}</span>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Procedures } from "../shared/interfaces/Patient";

@Component
export default class PatientProceduresList extends Vue {
  public procedures!: Procedures;

  beforeCreate() {
    this.procedures = this.$store.getters.getOneClient(
      this.$route.params["id"]
    ).procedures;
  }
}
</script>

<style lang="scss" scoped>
.badge.badge-pill.badge-primary {
  line-height: inherit;
}
</style>