<template>
  <div>
    <ul class="nav nav-tabs">
      <li class="nav-item" v-for="(link,ind) of navList" :key="ind">
        <router-link
          tag="a"
          class="nav-link"
          active-class="active"
          :to="link.path?startURL+link.path:startURL"
          exact
        >{{link.title}}</router-link>
      </li>
    </ul>
  </div>
</template>;

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class PatientInfoNav extends Vue {
  public startURL!: string;
  public id!: string;
  private navList: Array<object> = [
    { title: "Info", path: "" },
    { title: "Add procedure", path: "/procedure" }
  ];
  getCurrentRoute(): string {
    return this.$route.path;
  }
  beforeMount() {
    this.id = this.$route.params["id"];
    this.startURL = this.getCurrentRoute();
  }
}
</script>
